body {
    background-color: black;
    background-image: url(./Images/pkmnquiz_fix.png);
    background-repeat: repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    margin: 0px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 14px;
}
.quotes-box {
    width: 34%;
    position: fixed;
    display: flex;
}
.quotes {
    width: 34%;
    /* opacity: 70%; */
    background: linear-gradient(to right, skyblue, darkorchid);
    border-radius: 10px;
    position: fixed;
    /* position: sticky; */
    /* display: inline-block; */
    margin: 5px;
}
p {
    margin: 1%;
}
a {
    margin: 1%
}
.image {
    order: -1;
    /* overflow: hidden; */
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to right, skyblue, darkorchid);
    margin: 5px;
    height: 0;
    transition: height 1s;
}
#birthdaycard {
    /* display: inline-block; */
    display: block;
    margin: auto;
}
#crawlButton {
    cursor: pointer;
    background: linear-gradient(110deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #2b1de8,#1ddde8, #dd00f3, #8600f3, #ff2400);
    background-size: 1800% 1800%;
    animation: rainbow 40s linear infinite;
    border-radius: 5px;
    border: none;
    margin: 1%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
}
#birthdayButton {
    cursor: pointer;
    margin: 1%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
}
#crawl {
    width: 100%;
    opacity: 0;
}
#crawl.in {
    opacity: 1;
    transition: opacity 6s ease-in 4s;
}
@keyframes rainbow {
    0% {background-position: 0 0;}
    100% {background-position: 400% 0;}
    0% {background-position: 0 0;}
}