body {
    background-color: black;
    background-image: url(./Images/pkmnquiz_fix.png);
    background-repeat: repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    margin: 0px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 14px;
}
.quotes {
    width: 34%;
    /* opacity: 70%; */
    background: linear-gradient(to right, skyblue, darkorchid);
    border-color:transparent;
    border-style: solid;
    border-radius: 10px;
    position: fixed;
    /* position: sticky; */
    /* display: inline-block; */
    margin: 5px;
}
p {
    margin: 1%;
}
#birthdaycard {
    /* display: inline-block; */
    display: block;
    margin: auto;
}
#crawlButton {
    border-color: transparent;
    border-radius: 5px;
    margin: 1%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
}
#crawl {
    width: 100%;
    opacity: 0;
}
#crawl.in {
    opacity: 1;
    transition: opacity 6s ease-in 4s;
}